<a href="/usuario/<%= locals.usuario.id %>">Hola <%= locals.usuario.nombre %>!</a>
<a href="/nuevoGrupo">Crear Grupo</a>
<a href="/nuevoMeeti">Crear Meeti</a>
<a href="/administracion">Administración</a>
<a href="/cerrarSesion">Cerrar Sesion</a>