<main class="contenedor contenedor-formularios">
    <h1><%= pagina %></h1>
    <form action="/cambiarPassword" method="POST" class="default-form">
        <div class="campo">
            <label>Contraseña actual</label>
            <input type="password" name="anterior" placeholder="Contaseña anterior">
        </div>
        <div class="campo">
            <label>Contraseña nueva</label>
            <input type="password" name="nueva" placeholder="Contaseña nueva">
        </div>
        
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Cambiar Contraseña">
        </div>
    </form>
</main>