<main class="contenedor contenedor-formularios no-padding">
    <h1><%- pagina %></h1>

    <form class="default-form" action="/editarPerfil" method="POST">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" value="<%= usuario.nombre %>" name="nombre">
        </div>
        <div class="campo descripcion">
            <label>Quien soy</label>
            <div class="contenedor-editor">
                <input type="hidden" value="<%= usuario.descripcion %>" id="x" name="descripcion">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>
        <div class="campo">
            <label>E-mail</label>
            <input type="email" value="<%= usuario.email %>" name="email">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Guardar Cambios">
        </div>
    </form>
</main>
