<main class="contenedor contenedor-formularios">
    <h1><%= pagina %></h1>
    <form class="default-form" method="POST">
        <legend>¿Eliminar Meeti? un Meeti eliminado no se puede recuperar</legend>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Eliminar Meeti" >
        </div>
    </form>
</main>