<main class="contenedor contenedor-formularios">
    <h1><%= pagina %></h1>
    <form action="/iniciarSesion" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu email">
        </div>
        <div class="campo">
            <label>Contaseña</label>
            <input type="password" name="password" placeholder="Tu contaseña">
        </div>
        
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Iniciar Sesión">
        </div>
    </form>
</main>