<main class="contenedor contenedor-formularios no-padding">
    <h1><%= pagina %></h1>
    <form action="/nuevoGrupo" method="POST" class="default-form" enctype="multipart/form-data">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre Grupo"  >
        </div>
        <div class="campo descripcion">
            <label>Descripcion</label>
            <div class="contenedor-editor">
                <input type="hidden" id="x" name="descripcion">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>
            <div class="campo">
                <label>Categoria</label>
                <select name="categoriaId">
                    <option value="" selected disabled>-Selecciona-</option>
                    <% categorias.forEach(categoria => { %>
                    <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="campo">
            <label>Imagen</label>
            <input type="file" name="imagen">
        </div>
        <div class="campo">
            <label>Sitio Web</label>
            <input type="url" name="url" placeholder="Sitio Web"  >
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Crear Grupo">
        </div>
    </form>
</main>