<h1 style="
            text-align: center;
            font-family: Arial, Helvetica;        
">Confirmar tu cuenta</h1>
<p style="
font-family: Arial, Helvetica;" >Hola, estar a un paso de confirmar tu cuenta , solo de confirmar tu cuenta en el siguiente enlace:</p>
<a style="font-family: Arial, Helvetica;
          display: block;
          padding: 1rem;
          background-color: #00C897;
          color: white;
          text-transform: uppercase;
          text-align: center;
          text-decoration: none;"
 href="<%= url %>">Confirma tu cuenta</a>
<p style="font-family: Arial, Helvetica;" >Si no puedes acceder a este enlace, visita: <%= url %></p>
<p style="font-family: Arial, Helvetica;" >Si no solicitaste este e-mail ignoralo</p>